


/* SLide Show Image */
* { box-sizing: border-box; }

body { font-family: Verdana, sans-serif; margin:0 }

.main-image {
  max-width: 100%;
  position: relative;
}

.preview-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-top: 10px;
}

.preview {
  cursor: pointer;
  transition: 0.3s;
}

.preview:hover {
  opacity: 0.7;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
